@font-face {
  font-family: 'Vrinda';
  src: url('../fonts/Vrinda.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Vrinda.woff') format('woff'),
  url('../fonts/Vrinda.ttf')  format('truetype'),
  url('../fonts/Vrinda.svg#Vrinda') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'MicrosoftPhagsPa';
  src: url('../fonts/MicrosoftPhagsPa.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MicrosoftPhagsPa.woff') format('woff'),
  url('../fonts/MicrosoftPhagsPa.ttf')  format('truetype'),
  url('../fonts/MicrosoftPhagsPa.svg#MicrosoftPhagsPa') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Corbel';
  src: url('../fonts/Corbel.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Corbel.woff') format('woff'),
  url('../fonts/Corbel.ttf')  format('truetype'),
  url('../fonts/Corbel.svg#Corbel') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Corbel-Bold';
  src: url('../fonts/Corbel-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Corbel-Bold.woff') format('woff'),
  url('../fonts/Corbel-Bold.ttf')  format('truetype'),
  url('../fonts/Corbel-Bold.svg#Corbel-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Corbel-Italic';
  src: url('../fonts/Corbel-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Corbel-Italic.woff') format('woff'),
  url('../fonts/Corbel-Italic.ttf')  format('truetype'),
  url('../fonts/Corbel-Italic.svg#Corbel-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
